@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.navigationBar {
    background-color: #153259;
    height: 97vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
}

h1 {
    padding: 0%;
    font-size: 22px;
    font-family: "Sofia Sans", sans-serif;
}

.restOfBody {
    display: flex;

}

.chatContainer {
    display: flex;
    width: 750px;
    flex-shrink: 0;
    height: 50px;
    border-color: #6484AE;
    border-width: 4px;
    background-color: transparent;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: #B9D8FF;  
}

.sendButton {
    background-color: #6484AE;
    color: #B9D8FF;
    width: 50;
    border-radius: 50px;
    border-color: transparent;
    align-content: center;
}

