:root {
  --background-color: #060D17;
  --text-color: #B9D8FF;
  --primary-color: #3b82f6;
  --secondary-color: #6b7280;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Sofia Sans', sans-serif;
  margin: 0;
  padding: 0;
}
